<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
</head>

<body>
  <center>

<div class="vertical-menu">
  <a href="submit-order.html">Submit Order</a>
  <a href="search.html">Search</a>
</div>

<style>
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
</style>

</center>
</body>
</html>