<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
</head>
<body>

	<center><h1>Search</h1>

	<div class="topnav">
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <input type="image" src="images/62768591-realistic-metal-magnifying-glass-icon-on-transparent-checkered-background-.jpg" style="width: 30px;height: 30px;position:static;"/>

    </form>
  </div>

<br>

<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  background-color: grey;
}
</style>

<div class="grid-container">
  <div class="item1">Quantity</div>
  <div class="item2">Price per Unit</div>
  <div class="item3">Date</div>  
  <div class="item4"></div>
  <div class="item5"></div>
  <div class="item6"></div>
  <div class="item7"></div>
  <div class="item8"></div>
  <div class="item9"></div>
  <div class="item10"></div>
  <div class="item11"></div>
  <div class="item12"></div>
  <div class="item13"></div>
  <div class="item14"></div>
  <div class="item15"></div>

</div>

</center>

</body>
</html>

